* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      display: grid;
      font-family: "Poppins", sans-serif;
      place-items: center;
    }

    .wrapper {
      padding-top: 10px;
      display: inline-flex;

    }

    .icon {
      /* Change the icon size here */
      font-size: 2em;
      /* Change the icons colours here*/
      color: #7a7a7a
    }

    #agaid_icon {
      filter: grayscale(100%); 
    }

    #agaid_icon:hover {
      filter: grayscale(0%);
    }

    .blog:hover {
      color: #ffbd2f;
    }

    .email:hover {
      color: #23c8c8;
    }

    .facebook:hover {
      color: #4267B2;
    }

    .instagram:hover {
      color: rgb(241, 102, 217);
    }

    .linkedin:hover {
      color: #0e76a8;
    }

    .twitter:hover {
      color: #26a7de;
    }

    .reddit:hover {
      color: #ff4500;
    }

    .tiktok:hover {
      color: #ff0050;
    }

    .youtube:hover {
      color: #FF0000;
    }

    .pinterest:hover {
      color: #c8232c;
    }

    .telegram:hover {
      color: #2AABEE;
    }

    .social {
      position: relative;
      margin: 10px;
      cursor: pointer;
    }
